/* ==========================================================================
        Google Fonts 
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* ==========================================================================
        Variables
========================================================================== */
:root {
  --primary-color: #0055ff;
  --secondary-color: #07152c;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark: #02050a;
  --text-color: #2f3339;
  --light-color-1: #f8fcff;
  --light-color-2: #e6eeff;
  --font-family: "Archivo", sans-serif;
}

/* ==========================================================================
        Reset
========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-color);
  overflow-x: hidden;
}

p {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 120%;
  color: var(--secondary-color);
  margin: 0;
}

/* ==========================================================================
        Common Styles
========================================================================== */
.button-wrapper .btn {
  display: inline-block;
  font-family: var(--font-family);
  padding: 18px 60px;
  align-items: center;
  border-radius: 88px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: var(--white-color);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 88px;
  -moz-border-radius: 88px;
  -ms-border-radius: 88px;
  -o-border-radius: 88px;
}

.button-wrapper {
  display: block;
  text-align: center;
  margin-top: 54px;
}

.button-wrapper .btn.btn-primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button-wrapper .btn.btn-primary:hover {
  background-color: #eb5757;
  border: 1px solid #eb5757;
}

.button-wrapper .btn.btn-secondary {
  background-color: #eb5757;
  border: 1px solid #eb5757;
}

.button-wrapper .btn.btn-secondary:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.section-title-wrapper .section-title {
  font-size: 96px;
}

.section-title-wrapper .section-title span {
  display: block;
  color: var(--primary-color);
}

.tags-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.tags-wrap .tag-item {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 114%;
  color: var(--text-color);
  padding: 4px 12px;
  border: 1px solid #838b97;
  border-radius: 128px;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
  -ms-border-radius: 128px;
  -o-border-radius: 128px;
}

/* -- ====================================
    01 | Navigation CSS Style
========================================= - */
header {
  background-color: var(--light-color-2);
  overflow-x: hidden;
}

.home-navigation {
  padding: 22px 0;
}

.home-navigation .navbar {
  padding: 0;
}

.home-navigation .navbar .navbar-collapse .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.home-navigation .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding: 6px 0;
  margin: 0px 8px;
  letter-spacing: 0.5px;
  color: var(--text-color);
  position: relative;
}

.home-navigation
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link::before,
.home-navigation
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link.active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.home-navigation .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.home-navigation
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link:hover::before {
  color: var(--primary-color);
  width: 100%;
}

.home-navigation
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link.active {
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.home-navigation
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link.active::before {
  width: 100%;
}

/* -- ====================================
    02 | Hero CSS Style
========================================= - */
.home-hero-area .hero-wrapper {
  padding: 120px 0;
}

.home-hero-area .hero-wrapper .hero-content-wrap {
  position: relative;
}

.home-hero-area .hero-wrapper .hero-content-wrap .hero-heading {
  font-family: "Anton", sans-serif;
  font-size: 180px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--primary-color);
}

.home-hero-area .hero-wrapper .hero-content-wrap .hero-heading span {
  position: relative;
  display: block;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  z-index: 2;
}

.home-hero-area .hero-wrapper .hero-content-wrap .hero-description {
  position: relative;
  z-index: 2;
  max-width: 628px;
}

.home-hero-area .hero-wrapper .hero-content-wrap .hero-thumbnail {
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 565px;
}

/* -- ====================================
    03 | Top Expertise CSS Style
========================================= - */
.top-expertise {
  padding: 87px 0 120px;
}

.top-expertise .top-expertise-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 80px;
}

.top-expertise .top-expertise-wrapper .left-side-content img {
  width: 100%;
  max-width: 456px;
}

.top-expertise .top-expertise-wrapper .right-side-content .top-expertise-title {
  display: block;
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
  color: var(--secondary-color);
  margin: 0;
}

.top-expertise .top-expertise-wrapper .right-side-content {
  width: 100%;
  max-width: 552px;
}

.top-expertise
  .top-expertise-wrapper
  .right-side-content
  .top-expertise-title
  span {
  display: inline-block;
  width: 65px;
  color: var(--white-color);
  background-color: transparent;
}

/* -- ====================================
    04 | Expertise CSS Style
========================================= - */
.section {
  padding: 108px 0;
}

.expertise-area .expertise-wrapper .expertise-content-wrapper {
  margin-top: -140px;
}

.expertise-area .expertise-wrapper .section-title-wrapper {
  margin-bottom: 64px;
}

.expertise-area .expertise-wrapper .section-title-wrapper .section-title {
  padding-left: 130px;
}

.expertise-area .expertise-wrapper .section-title-wrapper .section-title span {
  margin-left: -98px;
}

.expertise-area .expertise-wrapper .expertise-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.expertise-area
  .expertise-wrapper
  .expertise-content-wrapper
  .left-side-content {
  max-width: 375px;
}

.expertise-area
  .expertise-wrapper
  .expertise-content-wrapper
  .left-side-content
  .expertise-thumbnail {
  width: 100%;
  align-items: center;
}

.expertise-area
  .expertise-wrapper
  .expertise-content-wrapper
  .right-side-content {
  max-width: 743px;
}

.expertise-area
  .expertise-wrapper
  .expertise-content-wrapper
  .right-side-content
  .expertise-content-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.expertise-area
  .expertise-wrapper
  .expertise-content-wrapper
  .right-side-content
  .expertise-content-list
  .single-expertise-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 32px 0;
  border-bottom: 1px solid var(--light-color-2);
}

.expertise-area
  .right-side-content
  .expertise-content-list
  .single-expertise-item
  .expertise-icon-wrap
  .icon-thumbnail {
  max-width: 89px;
  height: 89px;
}

.expertise-area
  .right-side-content
  .expertise-content-list
  .single-expertise-item
  .expertise-content-details
  .expertise-title {
  display: block;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 12px;
}

.expertise-area
  .right-side-content
  .expertise-content-list
  .single-expertise-item
  .expertise-content-details
  .expertise-description {
  font-size: 16px;
}

/* -- ====================================
    04 | Case Study CSS Style
========================================= - */

.case-study-area .section-title-wrapper {
  margin-bottom: 60px;
}

.case-study-area .section-title-wrapper .section-title {
  text-align: center;
}

.case-study-area .section-title-wrapper .section-title span {
  text-align: right;
  padding-right: 42px;
}

.case-study-area .case-study-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: -100px;
}

.case-study-area .case-study-wrapper .single-case-study-item img {
  width: 100%;
}

.case-study-area .case-study-wrapper .single-case-study-item:nth-child(even) {
  padding-top: 100px;
}

.case-study-area
  .case-study-wrapper
  .single-case-study-item
  .case-study-content {
  padding: 8px;
  margin-top: 16px;
}

.case-study-area
  .case-study-wrapper
  .single-case-study-item
  .case-study-content
  .case-study-title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: var(--black-color);
  margin-bottom: 8px;
}
/* -- ====================================
    05 | Counter Up CSS Style
========================================= - */

.counterup-area .counterup-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding-bottom: 10px;
}

.counterup-area .counterup-content-wrapper .single-counter-item {
  padding: 24px 24px 35px;
  background-color: var(--light-color-2);
}

.counterup-area .counterup-content-wrapper .single-counter-item .item-count {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--secondary-color);
  padding-bottom: 3px;
  border-bottom: 2px solid var(--primary-color);
}

.counterup-area .counterup-content-wrapper .single-counter-item .counter-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  margin: 71px 0;
}

.counterup-area .counterup-content-wrapper .single-counter-item .counter-count {
  font-size: 64px;
  line-height: normal;
  color: var(--secondary-color);
}
/* -- ====================================
    06 | Testimonial CSS Style
========================================= - */
.testimonial-area {
  padding: 101px 0 239px;
  background-color: var(--light-color-2);
}

.testimonial-area .section-title-wrapper .section-title {
  padding-left: 142px;
}
.testimonial-area .section-title-wrapper .section-title span {
  margin-left: -142px;
}
.testimonial-wrapper {
  position: relative;
}
.testimonial-wrapper .testimonial-background-image {
  position: absolute;
  bottom: -300px;
  left: 118px;
}
.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content {
  overflow: visible;
}
.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content
  .single-testimonial-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  max-width: 803px;
  padding: 44px;
  margin-left: 300px;
  margin-top: -52px;
  background-color: var(--white-color);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content
  .single-testimonial-item
  img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content
  .single-testimonial-item
  .author-details-wrap
  .testimonial-icon {
  max-width: 52px;
  height: 42px;
}
.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content
  .single-testimonial-item
  .author-details-wrap
  .testimonial-text {
  margin: 24px 0 17px;
}
.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content
  .single-testimonial-item
  .author-details-wrap
  .author-info
  .author-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 114%;
  color: var(--text-color);
}
.testimonial-area
  .testimonial-wrapper
  .testimonial-slider
  .testimonial-slider-content
  .single-testimonial-item
  .author-details-wrap
  .author-info
  span {
  display: block;
  padding-top: 8px;
  color: #838b97;
}
/* -- ====================================
    07 | Logo Strip CSS Style
========================================= - */

.logo-strip-area {
  padding-bottom: 0;
}
.logo-strip-area .logo-strip-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -- ====================================
    08 | Accordion CSS Style
========================================= - */

.accordion-area .section-title-wrapper .section-title {
  text-align: right;
  margin-bottom: 80px;
}
.accordion-area .section-title-wrapper .section-title span {
  text-align: left;
}
.accordion-area .accordion .accordion-item {
  padding: 21px 32px;
  margin-bottom: 13px;
  border: 1px solid #838b97;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
}
.accordion-area .accordion .accordion-item .accordion-header .accordion-button {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: var(--secondary-color);
  border: 0px;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.accordion-area .accordion-content-wrap .accordion-collapse .accordion-body {
  padding: 24px;
}
.accordion-area
  .accordion-content-wrap
  .accordion-collapse
  .accordion-body
  .accordion-body-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* -- ====================================
    09 | Contact CSS Style
========================================= - */

/* -- ====================================
    10 | Footer CSS Style
========================================= - */
footer {
  padding: 116px 0;
  background-color: var(--light-color-2);
}

footer .footer-widget-wrapper .footer-widget .footer-logo img {
  max-width: 350px;
  margin-bottom: 20px;
}
footer .footer-widget-wrapper .footer-widget .footer-text p {
  font-size: 16px;
  line-height: 187%;
  color: var(--black-color);
}
footer .footer-widget-wrapper .footer-widget .footer-widget-title h5 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  color: var(--black-color);
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}
footer .footer-widget-wrapper .footer-widget .footer-widget-menu {
  padding: 0;
  margin: 0;
}
footer .footer-widget-wrapper .footer-widget .footer-widget-menu .footer-link {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--black-color);
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 11px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
footer
  .footer-widget-wrapper
  .footer-widget
  .footer-widget-menu
  .footer-link:hover {
  color: var(--primary-color);
}
